{% import 'common.tpl' as c %}
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ルーム一覧</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/icon/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

</head>

<body>
<div class="d-flex">
    <!-- サイドバー -->
    {{ c.common_sidebar(login_user, mode | default("")) }}

    <!-- メインコンテンツ -->
    <div class="flex-grow-1 p-4">
        <form method="get" id="form_list" action="">
            <!-- ヘッダー -->
            <!-- メッセージ表示領域 -->
            <div id="div_message_area">
                {% if result=="error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{sys_msg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            </div>

            <!-- タイトルと新規登録ボタン -->
            <div class="m-3 bg-white border-bottom border-dark row">
                <div class="col-auto">
                    <h3>ルーム一覧</h3>
                </div>
                {% if login_user.authority_code == 99 %}
                <div class="col text-end">
                    <a class="btn btn-primary btn-sm mb-2 px-4" href="/room/new" role="button">
                        <i class="bi bi-pencil-square"></i> 新規登録
                    </a>
                </div>
                {% endif %}
            </div>

            <!-- 検索条件 -->
            <div class="row m-3 align-items-end">
                <div class="form-group col">
                    <label for="txt_room_name">ルーム名（部分一致）</label>
                    <input type="search" class="form-control form-control-sm" name="txt_room_name"
                        id="txt_room_name" value="{{txt_room_name}}">
                </div>
                <div class="form-group col">
                    <button type="button" class="btn btn-primary btn-sm" onclick="get_search_list(1)">
                        <i class="bi bi-search"></i> 検 索
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="clear_onclick()">
                        <i class="bi bi-x-circle"></i> クリア
                    </button>
                </div>
            </div>

            <!-- ページング -->
            <div class="d-flex justify-content-end align-items-center m-3 pe-2">
                <div class="me-3 pt-1">
                    検索結果：<span class="fw-bold">{{'{:,}'.format(rec_count)}}</span> 件
                </div>
                <div class="me-2">
                    <select class="form-select form-select-sm" style="width:90px;" name="sel_row_max" id="sel_row_max"
                        onchange="get_search_list(1)">
                        {% for cnt in row_max_list %}
                        <option value="{{cnt}}" {% if sel_row_max==cnt %} selected {% endif %}>{{cnt}}件</option>
                        {% endfor %}
                    </select>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm mb-0">
                        <li class="page-item {% if hdn_page_no == 1 %} disabled {% endif %}">
                            <a class="page-link" onclick="get_search_list(Number('{{hdn_page_no - 1}}'))">Previous</a>
                        </li>
                        {% for i in range(start_page, start_page + page_max_disp) %}
                        <li class="page-item {% if hdn_page_no == i %} active {% endif %}">
                            <a class="page-link" onclick="get_search_list(Number('{{i}}'))">{{i}}</a>
                        </li>
                        {% endfor %}
                        <li class="page-item {% if hdn_page_no == page_count %} disabled {% endif %}">
                            <a class="page-link" onclick="get_search_list(Number('{{hdn_page_no + 1}}'))">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- 検索結果一覧 -->
            <div class="table-responsive m-3 ps-3 pe-2">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col" class="text-nowrap p-2">編集</th>
                            <th scope="col" class="text-nowrap p-2">ルーム名</th>
                            <th scope="col" class="text-nowrap p-2">備考</th>
                            <th scope="col" class="text-nowrap p-2">最終更新日</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for user in user_list %}
                        <tr class="">
                            <td class="text-center align-middle text-nowrap p-1">
                                <a href="/room/{{room.id}}/edit" role="button"
                                    class="btn btn-outline-primary btn-sm link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td class="p-1 align-middle multi-line">{{room.room_name or ''}}</td>
                            <td class="p-1 align-middle multi-line">{{room.remarks or ''}}</td>
                            {% if user.update_date is not none %}
                            <td class="p-1 align-middle">{{room.update_date.strftime('%Y-%m-%d')}}</td>
                            {% else %}
                            <td class="p-1 align-middle"></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Topへ戻るボタン -->
            <button id="scrollToTopBtn" class="btn" type="button"><i class="bi bi-arrow-up"></i></button>

            <!-- 現在のページ番号 -->
            <input type="hidden" value="{{hdn_page_no}}" id="hdn_page_no" name="hdn_page_no">
        </form>
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/room_list.js"></script>

</body>
</html>
